<%= form_for ([:admin, professor]) do |p| %>
	<div class='form-group'>
		<%= p.label :nome %>
		<%= p.text_field :nome, class: 'form_control'  %>
	</div>

	<div class='form-group'>
		<%= p.label :email %>
		<%= p.email_field :email, class: 'form_control' %>
	</div>
	
	<%= p.submit class: "btn btn-primary" %>
<% end %>
