<%= form_for ([:admin, professor]) do |p| %>
	<div class="panel-body">	
		<%= p.label :nome, class: 'form-group' %>
		<%= p.text_field :nome, class: 'form-control form-group' %>
		<%= p.label :email, class: 'form-group' %>
		<%= p.email_field :email, class: 'form-control form-group' %>
		<% if p.object.estado_acesso == "Não Confirmado" %>
			<%= link_to "Convidar Professor", admin_professores_path, class: "btn btn-danger" %>
		<% end %>
		<%= link_to "Excluir",admin_professor_path(professor), method: :delete, data:{confirm: "Tem Certeza?"},class: "btn btn-danger pull-right" %>
		<%= p.submit class: "btn btn-primary" %>
	</div>
<% end %>
