<div class="panel-group" id="accordion2">
    <div class="panel panel-default">
      <div class="panel-heading">
        <h4 class="panel-title">
          <a data-toggle="collapse" data-parent="#accordion2" href="#a">
            <ol class="breadcrumb"> 
              <li>Novo Professor</li>
            </ol>
          </a>
        </h4>
      </div>
      <div id="#a" class="panel-collapse collapse in">
        <div class="panel-body">
          <%= render 'professores/form' %>
        </div>
      </div>
    </div>
</div>

<div class="panel-group" id="accordion">
  <% @professores.each do |professor| %>
    <div class="panel panel-default">
      <div class="panel-heading">
        <h4 class="panel-title">
          <a data-toggle="collapse" data-parent="#accordion" href="#<%=professor.id %>" class="cabecalho">
            <ol class="breadcrumb">
              <% if professor.estado_acesso == "Não Confirmado" %> 
                <li><span class="label label-danger"><%= professor.estado_acesso %></span></li>
              <% elsif professor.estado_acesso == "Confirmado" %>
                <li><span class="label label-success"><%= professor.estado_acesso %></span></li>
              <% end %>
              <li><%= professor.nome %></li>
              <li><%= professor.email %></li>
            </ol>
          </a>
        </h4>
      </div>
      <div id="<%=professor.id %>" class="panel-collapse collapse out">
        <div class="panel-body">
          <%= render 'admin/professores/form' , professor: professor %>
        </div>
      </div>
    </div>
  <% end %>
</div>
