<%= form_for(@estudante) do |f| %>
	<% if @estudante.errors.any? %>
		<div class='alert alert-danger'>
			<strong>
				Não foi possível completar o cadastro:
			</strong>
			<ul>
				<% @estudante.errors.full_messages.each do |msg| %>
					<li><%= msg %></li>
				<% end %>
			</ul>
		</div>
	<% end %>

	<%= f.label :nome, class: 'form-group' %>
	<%= f.text_field :nome, class: 'form-control form-group' %>
	
	<%= f.label :ra, class: 'form-group' %>
	<%= f.text_field :ra, class: 'form-control form-group' %>

	<%= f.label :email, class: 'form-group' %>
	<%= f.email_field :email, class: 'form-control form-group' %>

	<%= f.label :password, class: 'form-group' %>
	<%= f.password_field :password, class: 'form-control form-group' %>

	<%= f.label :password_confirmation, class: 'form-group' %>
	<%= f.password_field :password_confirmation, class: 'form-control form-group' %>

	<%= f.submit "Cadastrar", class: 'btn btn-primary' %>

<% end %>

