<%= form_for ([:admin, trabalho]) do |t| %>
    <% if t.object.estado == "Recebido do Aluno" %>
        <div class="panel-body">
            <div role="form">
                <div class="form-group">                            
                    
			<%= t.select :orientador, options_for_select([t.object.orientador.nome]) %>
                    <%= t.select :banca_1, options_for_select(@professores.collect{ |p| [p.nome, p.email] }) %>
                    <%= t.select :banca_2, options_for_select(@professores.collect{ |p| [p.nome, p.email] }) %>

                </div>
            </div>
            <button type="button" class="btn btn-info">
                <%= link_to "Novo Professor", admin_professores_path %>
                <span class="glyphicon glyphicon-user"></span>
            </button>
            <button type="button" class="btn btn-info">
                <%= link_to "Editar", admin_professores_path %>
                <span class="glyphicon glyphicon-edit"></span> 
            </button>
            
            <%= t.submit "Enviar para Avaliacao", class: 'btn btn-primary pull-right' %>
        </div>
    <% elsif t.object.estado == "Enviado para Avaliação" %>
        <div class="col-lg-4 col-md-6">
            <div class="panel panel-default">
                <div class="panel-heading">
                    <div class="row">
                        <div class="col-xs-3">
                            <span class="badge">12</span>
                        </div>
                        <div class="col-xs-9 text-left">
                            <h4>Orientador</h4>
                            <h4><%= t.object.orientador.nome %></h4>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-lg-4 col-md-6">
            <div class="panel panel-default">
                <div class="panel-heading">
                    <div class="row">
                        <div class="col-xs-3">
                            <span class="badge">5</span>
                        </div>
                        <div class="col-xs-9 text-left">
                            <h4>Banca 1</h4>
                            <h4><%= t.object.banca_1.nome %></h4>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-lg-4 col-md-6">
            <div class="panel panel-default">
                <div class="panel-heading">
                    <div class="row">
                        <div class="col-xs-3">
                            <span class="badge">3</span>
                        </div>
                        <div class="col-xs-9 text-left">
                            <h4>Banca 2</h4>
                            <h4><%= t.object.banca_2.nome %></h4>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <%= t.submit "Enviar para Avaliacao", class: 'btn btn-primary pull-right' %>
    <% end %>
<% end %>
