<%= form_for ([:admin, trabalho]) do |t| %>
    <% if t.object.estado == "Recebido do Aluno" %>
        <div class="panel-body">
            <div role="form">
                <div class="form-group">                            
                    <h4>
                        <ol class="breadcrumb">
                            <li> Orientador </li>
                        </ol>
                    
                        <%= t.select :orientador, options_for_select([t.object.orientador.nome]), {}, { class: "form form-group form-control" } %>
                        <ol class="breadcrumb">
                            <li>Avaliador 1</li>
                            <% if !t.object.banca_1.nil? %>
                                <li> Sugestao </li>
                                <li><%= t.object.banca_1.nome %></li>
                            <% end %>
                        </ol>
                        <%= t.select :banca_1, options_for_select(@professores.collect{ |p| [p.nome, p.email] }), {include_blank: 'Ninguem selecionado'}, { class: "form form-group form-control" } %>
                        <ol class="breadcrumb">
                            <li>Avaliador 2</li>
                            <% if !t.object.banca_2.nil? %>
                                <li> Sugestao </li>
                                <li><%= t.object.banca_2.nome %></li>
                            <% end %>
                        </ol>
                    </h4>
                    <%= t.select :banca_2, options_for_select(@professores.collect{ |p| [p.nome, p.email] }), {include_blank: 'Ninguem selecionado'}, { class: "form form-group form-control" } %>

                </div>
            </div>
            
            <%= link_to "Ver Professores", admin_professores_path, class: "btn btn-info" %>
            <%= t.submit "Enviar para Avaliacao", class: 'form-group btn btn-primary pull-right' %>
        </div>
    <% else %>
         <div class="panel-body">
            <div role="form">
                <div class="form-group">                            
                    <ol class="breadcrumb">
                        <li>Orientador</li>
                        <li class=><%= t.object.orientador.nome %></li>
                        <% if t.object.nota_orientador.nil? %>
                            <li><span class="label label-warning">Aguardando Nota do Orientador </span></li>
                        <% else %>
                            <li><span class="label label-success">Avaliado</span></li>
                            <li><span class="label label-default">Nota <%= t.object.nota_orientador %></span></li>
                        <% end %>
                        <% if t.object.nota_final.nil? %>
                            <li><span class="label label-warning">Aguardando Nota Final </span></li>
                        <% else %>
                            <li><span class="label label-default">Nota Final <%= t.object.nota_orientador %></span></li>
                        <% end %>
                    </ol>
                    <ol class="breadcrumb">
                        <li>Avaliador 1</li>
                        <li><%= t.object.banca_1.nome %></li>
                        <% if t.object.nota_banca_1.nil? %>
                            <li><span class="label label-warning">Aguardando Nota </span></li>
                        <% else %>
                            <li><span class="label label-success">Avaliado</span></li>
                            <li><span class="label label-default">Nota <%= t.object.nota_banca_1 %></span></li>
                        <% end %>
                    </ol>
                    <ol class="breadcrumb">
                        <li>Avaliador 2</li>
                        <li><%= t.object.banca_2.nome %></li>
                        <% if t.object.nota_banca_2.nil? %>
                            <li><span class="label label-warning">Aguardando Nota </span></li>
                        <% else %>
                            <li><span class="label label-success">Avaliado</span></li>
                            <li><span class="label label-default">Nota <%= t.object.nota_banca_2 %></span></li>
                        <% end %>
                    </ol>
                </div>
            </div>
            <% if t.object.estado == "Avaliado" %>
                <%= t.submit "Disponibilizar Nota", class: 'form-group btn btn-success pull-right' %>
            <% end %>
        </div>
    <% end %>
<% end %>
