<%= form_for ([:admin, trabalho]) do |t| %>
    <div class="panel-body">
        <div role="form">
            <div class="form-group">                            
                
                <%= t.select :orientador, options_for_select(@professores.collect{ |p| [p.nome, p.email] }) %>
                <%= t.select :banca_1, options_for_select(@professores.collect{ |p| [p.nome, p.email] }) %>
                <%= t.select :banca_2, options_for_select(@professores.collect{ |p| [p.nome, p.email] }) %>

            </div>
        </div>
        <button type="button" class="btn btn-info">
            <%= link_to "Novo Professor", admin_professores_path %>
            <span class="glyphicon glyphicon-user"></span>
        </button>
        <button type="button" class="btn btn-info">
            <%= link_to "Editar", admin_professores_path %>
            <span class="glyphicon glyphicon-edit"></span> 
        </button>
        
        <%= t.submit "Enviar para Avaliacao", class: 'btn btn-primary pull-right' %>
    </div>
<% end %>
