<div class="panel-group" id="accordion">
<% @trabalhos.each do |trabalho| %>
	<div class="panel panel-default">
		<div class="panel-heading">
			<h4 class="panel-title">
				<a data-toggle="collapse" data-parent="#accordion" href="#<%=trabalho.id %>">
					<ol class="breadcrumb"> 
						<li><span class="label label-info"><%= trabalho.estado %></span></li>
						<li><%= trabalho.updated_at %></li>
						<li><%= trabalho.estudante.nome %></li>
						<li><%= trabalho.titulo %></li>
					</ol>
				</a>
			</h4>
		</div>
		<div id="<%=trabalho.id %>" class="panel-collapse collapse in">
			<div class="panel-body">

				<div class="form-group">
					<div class="col-xs-5 selectContainer">
						<select class="form-control" name="size">
							<option value="<%= trabalho.orientador.id %>"><%= trabalho.orientador.nome %> | <%= trabalho.orientador.email %></option>
						</select>
					</div>

					<button type="button" class="btn btn-info">
						<span class="glyphicon glyphicon-edit"></span> 
						<%= link_to "Editar", admin_professores_path %>
					</button>

				</div>

				<div class="form-group">
					<div class="col-xs-5 selectContainer">
						<select class="form-control" name="size">

							<% if trabalho.banca_1.nil? %>
								<option value="">Banca 1</option>
							<% else %>
								<option value=""> <%= trabalho.banca_1.nome %> | <%= trabalho.banca_1.email %> </option>
							<% end %>

							<%@professores.each do |professor|%>
								<option value="<%= professor.id %>"><%= professor.nome %> | <%= professor.email %></option>
							<% end %>
						</select>
					</div>

					<button type="button" class="btn btn-info">
						<span class="glyphicon glyphicon-edit"></span> 
						<%= link_to "Editar", admin_professores_path %>
					</button>

				</div>

				<div class="form-group">
					<div class="col-xs-5 selectContainer">
						<select class="form-control" name="size">

							<% if trabalho.banca_1.nil? %>
								<option value="">Banca 2</option>
							<% else %>
								<option value=""> <%= trabalho.banca_2.nome %> | <%= trabalho.banca_2.email %> </option>
							<% end %>

							<%@professores.each do |professor|%>
								<option value="<%= professor.id %>"><%= professor.nome %> | <%= professor.email %></option>
							<% end %>
						</select>
					</div>

					<button type="button" class="btn btn-info">
						<span class="glyphicon glyphicon-edit"></span> 
						<%= link_to "Editar", admin_professores_path %>
					</button>
				</div>

                <div class="container">
                    <button type="button" class="btn btn-info"><b>Novo Professor</b>
						<span class="glyphicon glyphicon-user"></span>
					</button>
                </div>
				<button class="btn btn-default btn-pressure pull-right">Enviar para Avaliacao</button>
			</div>
		</div>
	</div>
<% end %>
</div>
