<% if notice %>
    <div class='alert alert-success'><%= notice %></div>
<% elsif alert %>
    <div class='alert alert-danger'><%= alert %></div>
<% end %>
<div id="page-wrapper">
    <div class="row">
        <div class="col-lg-3 col-md-6">
            <div class="panel panel-danger">
                <div class="panel-heading">
                    <div class="row">
                        <div class="col-xs-3">
                            <i class="fa fa-comments fa-5x"></i>
                            <span class="glyphicon glyphicon-cloud-upload teste"></span>
                        </div>
                        <div class="col-xs-9 text-left">
                            <div>Recebidos do Aluno</div>
                            <div class="badge"><%= @count_recebidos %></div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-lg-3 col-md-6">
            <div class="panel panel-warning">
                <div class="panel-heading">
                    <div class="row">
                        <div class="col-xs-3">
                            <i class="fa fa-comments fa-5x"></i>
                            <span class="glyphicon glyphicon-send teste"></span>
                        </div>
                        <div class="col-xs-9 text-left">
                            <div>Enviados para Avaliacao</div>
                            <div class="badge"><%= @count_avaliacao %></div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-lg-3 col-md-6">
            <div class="panel panel-success">
                <div class="panel-heading">
                    <div class="row">
                        <div class="col-xs-3">
                            <i class="fa fa-comments fa-5x"></i>
                            <span class="glyphicon glyphicon-pencil teste"></span>
                        </div>
                        <div class="col-xs-9 text-left">
                            <div>Avaliados</div>
                            <div class="badge"><%= @count_avaliado %></div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-lg-3 col-md-6">
            <div class="panel panel-info">
                <div class="panel-heading">
                    <div class="row">
                        <div class="col-xs-3">
                            <i class="fa fa-comments fa-5x"></i>
                            <span class="glyphicon glyphicon-ok teste"></span>
                        </div>
                        <div class="col-xs-9 text-left">
                            <div>Notas Disponibilizadas</div>
                            <div class="badge"><%= @count_disponivel %></div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- /.row -->
    <div class="row">
        <div class="col-lg-12">
            <% if @trabalhos.empty? %>
                <h4> Sem trabalhos, ainda</h4>
            <% else %>
                <h4> Trabalhos </h4>
            <% end %>
                
                  <div class="panel-group" id="accordion">
                    <% @trabalhos.each do |trabalho| %>
                      <div class="panel panel-default">
                        <div class="panel-heading ca">
                          <h4 class="panel-title">
                            <a data-toggle="collapse" data-parent="#accordion" href="#<%=trabalho.id %>" class="cabecalho">
                              <ol class="breadcrumb">
                                <% if trabalho.estado == "Recebido do Aluno" %> 
                                    <li><span class="label label-danger"><%= trabalho.estado %></span></li>
                                <% elsif trabalho.estado == "Enviado para Avaliação" %> 
                                    <li><span class="label label-warning"><%= trabalho.estado %></span></li>
                                <% elsif trabalho.estado == "Avaliado" %> 
                                    <li><span class="label label-success"><%= trabalho.estado %></span></li>
                                <% end %>
                                
                                <li><%= trabalho.updated_at.strftime("%m/%d/%Y %I:%M%p") %></li>
                                <li><%= trabalho.estudante.nome %></li>
                                <li><%= trabalho.titulo %></li>
                              </ol>
                            </a>
                          </h4>
                        </div>
                        <div id="<%=trabalho.id %>" class="panel-collapse collapse out">
                          <div class="panel-body">
                            <%= render 'admin/trabalhos/form' , trabalho: trabalho %>
                          </div>
                        </div>
                      </div>
                    <% end %>
                  </div>
        </div>
        <!-- /.col-lg-8 -->
    </div>
    <!-- /.row -->
<!-- /#page-wrapper -->
</div>