<div class='page-header'>
	<h2>Log in</h2>
</div>

<% if notice %>
	<div class='alert alert-success'>
		<%= notice %>
	</div>
<% elsif alert %>
	<div class='alert alert-danger'>
		<%= alert %>
	</div>
<% end %>


<%= form_for :session, url: login_path, class: 'form-signin' do |f| %>
	<div class='form-group'>
		<%= f.label :email %>
		<%= f.email_field :email, class: 'form-control' %>
	</div>
	<div class='form-group'>
		<%= f.label :password %>
		<%= f.password_field :password, class: 'form-control' %>
	</div>
	<%= f.submit 'Log In', class: 'btn btn-primary' %>
	<%= link_to 'Cadastre-se', cadastro_path, class: 'btn btn-primary' %>
<% end %>
