<%= form_for ([:admin, estudante]) do |e| %>
	<div class="panel-body">
		<%= e.label :ra, class: 'form-group' %>
		<%= e.text_field :ra, class: 'form-control form-group' %>
		<%= e.label :nome, class: 'form-group' %>
		<%= e.text_field :nome, class: 'form-control form-group' %>
		<%= e.label :email, class: 'form-group' %>
		<%= e.email_field :email, class: 'form-control form-group' %>
		<%= e.submit class: "btn btn-primary" %>
	</div>
<% end %>
