<% if notice %>
    <div class='alert alert-success'><%= notice %></div>
<% elsif alert %>
    <div class='alert alert-danger'><%= alert %></div>
<% end %>

<div class="panel panel-default">
    <div class="panel-heading">
      <div>
        <%= link_to 'Voltar para trabalhos', professor_path(@professor), class: 'btn btn-warning btn-block' %>
      </div>
        <% if @pareceres.empty? %>
            <i class="fa fa-clock-o fa-fw"></i> Sem Pareceres, ainda
        <% else %>
            <i class="fa fa-clock-o fa-fw"></i> Pareceres
        <% end %>
    </div>
    <div class="panel-body">
        <% if @trabalho.orientador != @professor %>
            <div class="panel-group" id="accordion2">
                <div class="panel panel-default">
                <div class="panel-heading">
                    <h4 class="panel-title">
                    <a data-toggle="collapse" data-parent="#accordion2" href="#a">
                        <ol class="breadcrumb">
                        <li>Novo Parecer</li>
                        </ol>
                    </a>
                    </h4>
                </div>
                <div id="#a" class="panel-collapse collapse in">
                    <div class="panel-body">
                    <%= render 'form' %>
                    </div>
                </div>
                </div>
            </div>
        <% end%>

        <div class="panel-group" id="accordion">
            <% @pareceres.each do |parecer| %>
                <div class="panel panel-default">
                <div class="panel-heading">
                    <h4 class="panel-title">
                    <a data-toggle="collapse" data-parent="#accordion" href="#<%=parecer.id %>" class="cabecalho">
                        <ol class="breadcrumb">
                        <li>Página <%= parecer.pagina %></li>
                        <li><%= parecer.updated_at %></li>
                        <% if @trabalho.orientador == @professor %>
                            <li><%= parecer.professor.nome %></li>
                        <% end %>
                        </ol>
                    </a>
                    </h4>
                </div>
                <div id="<%=parecer.id %>" class="panel-collapse collapse out">
                    <div class="panel-body">
                        <%= parecer.texto %>
                    </div>
                </div>
                </div>
            <% end %>
        </div>
    </div>
</div>
