<!DOCTYPE html>
<html>
	<head>
		<title>Veraneio</title>
		<%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
		<%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
		<%= csrf_meta_tags %>
	</head>
	<body>
    <nav class="navbar navbar-default navbar-fixed-top">
      <div class="container">
      	<div class="collapse navbar-collapse" id="bs-example-navbar-collapse-7">
					<ul class="nav navbar-nav">
						<li class="<%= 'active' if current_page?(admin_trabalhos_path) %>"><%= link_to "Trabalhos", admin_trabalhos_path %></li>
						<li class="<%= 'active' if current_page?(admin_estudantes_path) %>"><%= link_to "Estudantes", admin_estudantes_path %></li>
						<li class="<%= 'active' if current_page?(admin_professor_index_path) %>"><%= link_to "Professores", admin_professor_index_path %></li>
					</ul>
				</div>
      </div>
    </nav>
			<div class="container">
				<%= yield %>
			</div>
	</body>
</html>
