<!DOCTYPE html>
<html>
	<head>
		<meta content='text/html; charset=UTF-8' http-equiv='Content-Type' />
	</head>
	<body>
		<h1>Arquivo <%= @estudante.trabalho.arquivo_file_name %> foi submetido para avalia√√o.</h1>
		<p>
		<%= @estudante.nome %>, <%= @estudante.ra %>, <%= @trabalho.nome %>
		<p>Seu trabalho de TCC 1 foi enviado na data <%= Time.now %></p>
		</p>
	</body>
</html>

