<%= form_for([@estudante, @trabalho]) do |trabalho| %>
	<% if @trabalho.errors.any? %>
		<div class='alert alert-danger'>
			<strong>
				Não foi possível completar o cadastro:
			</strong>
			<ul>
				<% @trabalho.errors.full_messages.each do |msg| %>
					<li><%= msg %></li>
				<% end %>
			</ul>
		</div>
	<% end %>

	<div class='form-group'>
		<%= trabalho.label :titulo %>
		<%= trabalho.text_field :titulo, class: 'form-control' %>
	</div>

	<% unless @trabalho.arquivo.exists? %>
		<div class='form-group'>
			<%= trabalho.label :arquivo %>
			<%= trabalho.file_field :arquivo, class: 'form-control' %>
		</div>
	<% else %>
		<div class='form-group'>
			<%= trabalho.label :arquivo %>
			<%= link_to "Trabalho" , @trabalho.arquivo.url(:original) %>
			<%= button_to "Remover", {:action => :update},  class:'btn btn-danger', data: {confirm: "Você tem certeza?"} %>
		</div>
	<% end %>


	<%= trabalho.fields_for :orientador, @trabalho.orientador do |orientador| %>
		<div class='form-group'>
			<%= orientador.label :nome, "Nome do Orientador" %>
			<%= orientador.text_field :nome, class: 'form-control' %>
		</div>
		<div class='form-group'>
			<%= orientador.label :email, "Email do Orientador" %>
			<%= orientador.email_field :email, class: 'form-control' , required: true %>
		</div>
	<% end %>

	<%= trabalho.fields_for :banca_1, @trabalho.banca_1 do |banca| %>
		<div class='form-group'>
			<%= banca.label :nome, "Nome da Banca 1" %>
			<%= banca.text_field :nome, class: 'form-control' %>
		</div>
	<% end %>

	<%= trabalho.fields_for :banca_2, @trabalho.banca_2 do |banca| %>
		<div class='form-group'>
			<%= banca.label :nome, "Nome da Banca 2" %>
			<%= banca.text_field :nome, class: 'form-control' %>
		</div>
	<% end %>

	<%= trabalho.submit "Upload", class: 'btn btn-primary' %>

<% end %>
