
<div class="container">
    <div class="row">
        <div class='col-md-3'></div>

				
			<div class="col-md-6">

				<% if !esta_periodo_aberto? %>
					<div class="alert alert-danger">
						O período de Cadastros e Envios acabou. Não será possivel atualizar ou enviar seu trabalho.
					</div>
				<% elsif notice %>
					<div class='alert alert-success notification-show'>
						<%= notice %>
					</div>
				<% elsif alert %>
					<div class='alert alert-danger notification-show'>
						<%= alert %>
					</div>
				<% elsif @trabalho.errors.any?%>
					<div class='alert alert-danger'>
						<strong>
							Não foi possível completar o cadastro:
						</strong>
						<ul>
							<%@trabalho.errors.full_messages.each do |msg|%>
								<li><%= msg %></li>
							<% end %>
						</ul>
					</div>
				<% end %>
				<% if @trabalho.estado == "Recebido do Aluno" %>
					<div class="panel panel-danger">
						<div class="panel-heading">
							<div class="row">
								<div class="col-xs-1">
									<i class="fa fa-comments fa-5x"></i>
									<span class="glyphicon glyphicon-cloud-upload icon"></span>
								</div>
								<div class="col-xs-11 text-left">
									<div>Seu trabalho foi recebido. Ao final do periodo de envios sera encaminhado para a banca de avaliacao.</div>
								</div>
							</div>
						</div>
					</div>
				<% elsif @trabalho.estado == "Nota Disponibilizada" %>
					<div class="panel panel-info">
						<div class="panel-heading">
							<div class="row">
								<div class="col-xs-1">
									<i class="fa fa-comments fa-5x"></i>
									<span class="glyphicon glyphicon-ok icon"></span>
								</div>
								<div class="col-xs-11 text-left">
									<div>Parabens! Sua nota ja foi disponibilizada. Em caso de inconsistencias, procure a Professora da Disciplina de TCC1.</div>
									<div class="badge"><%= @trabalho.nota_final %></div>
								</div>
							</div>
						</div>
					</div>
				<% else %>
					<div class="panel panel-warning">
						<div class="panel-heading">
							<div class="row">
								<div class="col-xs-1">
									<i class="fa fa-comments fa-5x"></i>
									<span class="glyphicon glyphicon-send icon"></span>
								</div>
								<div class="col-xs-11 text-left">
									<div>Seu trabalho foi enviado para Avaliação. Ao final desse Período, tera sua nota disponivel aqui mesmo. Aguarde!</div>
								</div>
							</div>
						</div>
					</div>
				<% end %>
				<div class="login-box well">
					<%=form_for([@estudante, @trabalho]) do |trabalho|%>

						<legend>Trabalho de Conclusão de Curso 1</legend>
						<div class='form-group'>
								<ol class="breadcrumb">
									<% if @periodo_maximo.nil? %>
										<li> <b>Não há Período válido. Aguarde a abertura de um novo Período. </b></li>
									<% else %>
										<li> <b>Data limite: <%= ultimo_periodo %></b> </li>
									<% end %>
								</ol>
							<%= trabalho.label :titulo %>
							<%= trabalho.text_field :titulo, class: 'form-control' %>
						</div>

						<% if @trabalho.arquivo.exists? %>
							<div class='form-group'>
								<%= trabalho.label :arquivo %>
								<%= link_to "#{@trabalho.arquivo_file_name}" , @trabalho.arquivo.url(:original) %>
							</div>
						<% end %>


						<% if esta_periodo_aberto? %>
							<div class='form-group'>
								<%=trabalho.label "Fazer upload"%>
								<%=trabalho.file_field :arquivo, class: 'form-control btn-default'%>
							</div>
						<% end %>


						<%=trabalho.fields_for :orientador, @trabalho.orientador do |orientador|%>
							<div class='form-group'>
								<%=orientador.label :nome, "Nome do Orientador"%>
								<%=orientador.text_field :nome, class: 'form-control', required: true%>
							</div>
							<div class='form-group'>
								<%=orientador.label :email, "Email do Orientador"%>
								<%=orientador.email_field :email, class: 'form-control' , required: true%>
							</div>
						<%end%>

						<%=trabalho.fields_for :banca_1, @trabalho.banca_1 do |banca|%>
							<div class='form-group'>
								<%=banca.label :nome, "Nome da Banca 1"%>
								<%=banca.text_field :nome, class: 'form-control'%>
							</div>
						<%end%>

						<%=trabalho.fields_for :banca_2, @trabalho.banca_2 do |banca|%>
							<div class='form-group'>
								<%=banca.label :nome, "Nome da Banca 2"%>
								<%=banca.text_field :nome, class: 'form-control'%>
							</div>
						<%end%>

						<%if esta_periodo_aberto?%>
						<%=trabalho.submit  class: 'btn btn-success btn-login-submit btn-block m-t-md'%>
						<%end%>

					<%end%>
				</div>
			</div>
        <div class='col-md-3'></div>
    </div>
</div>
