<%= form_for @professor do |f| %>
	<div class="panel-body">
		<%= f.label :nome, class: 'form-group' %>
		<%= f.text_field :nome, class: 'form-control form-group' %>
		<%= f.label :email, class: 'form-group' %>
		<%= f.email_field :email, class: 'form-control form-group' %>

		<%= f.submit class: "btn btn-primary"%>
	</div>
<% end %>
