<% if notice %>
    <div class='alert alert-success'><%= notice %></div>
<% elsif alert %>
    <div class='alert alert-danger'><%= alert %></div>
<% end %>
    <div class="row">
        <div class="col-lg-12">
            <% if @periodo_atual.nil? or @periodo_atual.termino < DateTime.now %>
            <div class="panel panel-default">
                <div class="panel-heading">
                    <h3> Novo Periodo </h3>
                </div>
                <!-- /.panel-heading -->
                <div class="panel-body">
                    <%= render 'form' %>
                </div>
                <!-- /.panel-body -->
            </div>
            <% else %>

            <% end %>
            <!-- /.panel -->
            <div class="panel panel-default">
                <div class="panel-heading">
                  <h3> Todos os Periodos </h3>
                </div>
                <!-- /.panel-heading -->
                <div class="panel-body">
                    <div class="row">
                        <div class="col-lg-12">
                            <div class="table-responsive teste">
                                <table class="table table-hover">
                                    <thead>
                                        <tr>
                                            <th>
                                              <ol class="breadcrumb">
                                                <li> Inicio </li>
                                                <li> Submissao </li>
                                              </ol>
                                            </th>
                                            <th>
                                              <ol class="breadcrumb">
                                                <li> Termino </li>
                                                <li> Submissao </li>
                                              </ol>
                                            </th>
                                            <th>
                                              <ol class="breadcrumb">
                                                <li> Termino </li>
                                                <li> Avaliacao </li>
                                              </ol>
                                            </th>
                                            <th></th>
                                        </tr>
                                    </thead>
                                    <% @admin_periodos.each do |admin_periodo| %>
                                    <tbody>
                                        <tr>
                                            <td><%= admin_periodo.inicio.strftime("%d/%m/%Y ") %><span class="text-muted small"><em><%= admin_periodo.termino.strftime(" %I:%M%p") %></em></td>
                                            <td><%= admin_periodo.termino.strftime("%d/%m/%Y ") %><span class="text-muted small"><em><%= admin_periodo.termino.strftime(" %I:%M%p") %></em></td>
                                            <td>10/21/2013</td>
                                            <% # link_to 'Edit', edit_admin_periodo_path(admin_periodo) %>
                                            <% if admin_periodo.termino == @periodo_atual.termino%>
                                                <td>
                                                    <%= link_to 'Apagar Periodo', admin_periodo_path(admin_periodo), method: :delete, data: { confirm: 'Are you sure?' }, class: "btn btn-danger pull-right" %>
                                                    <%= link_to 'Abrir Excecao', edit_admin_periodo_path(admin_periodo), class: "btn btn-info" %>
                                                </td>
                                            <% else %>
                                                <td><%= link_to 'Apagar Periodo', admin_periodo_path(admin_periodo), method: :delete, data: { confirm: 'Are you sure?' }, class: "btn btn-danger pull-right" %></td>
                                            <% end %>
                                        </tr>
                                    </tbody>
                                    <% end %>
                                </table>
                            </div>
                            <!-- /.table-responsive -->
                        </div>
                        <!-- /.col-lg-4 (nested) -->
                    </div>
                    <!-- /.row -->
                </div>
                <!-- /.panel-body -->
            </div>
            <!-- /.panel -->
        </div>
        <!-- /.col-lg-8 -->
    </div>

<table>
  <thead>
    <tr>
      <th>Inicio</th>
      <th>Termino</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @admin_periodos.each do |admin_periodo| %>
      <tr>
        <td><%= admin_periodo.inicio.strftime("%m/%d/%Y %I:%M%p") %></td>
        <td><%= admin_periodo.termino.strftime("%m/%d/%Y %I:%M%p") %></td>
        <td><%= link_to 'Show', admin_periodos_path %></td>
        <td><%= link_to 'Edit', edit_admin_periodo_path(admin_periodo) %></td>
        <td><%= link_to 'Destroy', admin_periodo_path(admin_periodo), method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>
